<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>I Love Indexes</title>
  <link href='//fonts.googleapis.com/css?family=Roboto+Slab:400,100' rel='stylesheet' type='text/css'>
  {{stylesheet_tag "base-min"}}
  {{stylesheet_tag "pure-min"}}
  {{stylesheet_tag "materialize"}}
  {{stylesheet_tag "app"}}

</head>
<body>

  <div class="pure-g">
    <div id="header" class="pure-u-1">
      <div class="pure-u-1-3 pure-u-md-1-24">
      </div>
      <div id="inputs" class="pure-u-1-3 pure-u-md-22-24">
        <img src="/assets/images/gopher.png" height="200px"/>
        <h1>I Love Indexes</h1>
        <p>To show your ♥ you can:</p>
        <form class="pure-form" accept-charset="utf-8" id="search-form">
          <input class="pure-input-1" type="search" id="search" name="search" value="" placeholder="Search Index Of" autofocus>
          <input name="search-type" type="radio" id="search-type-any" value="any" checked/>
          <label for="search-type-any">Any</label>
          <input name="search-type" type="radio" id="search-type-video" value="video" />
          <label for="search-type-video">Video</label>
          <input name="search-type" type="radio" id="search-type-audio" value="audio" />
          <label for="search-type-audio">Audio</label>
          <input name="search-type" type="radio" id="search-type-ebook" value="ebook" />
          <label for="search-type-ebook">Ebook</label>
        </form>

        <p>Or</p>

        <form class="pure-form" accept-charset="utf-8" id="add-url-form">
          <fieldset>
            <div class="pure-control-group">
              <input class="pure-input-1" type="url" name="url" value="" placeholder="Add an Index Of" autocomplete="off">
            </div>
          </fieldset>
        </form>

        <div id="btn-row" class="pure-u-1">
          <span class="hidden error red-text"></span>
          <button id="add-url" type="submit" class="btn waves-effect" form="add-url-form">
            <i class="mdi-content-add"></i>
          </button>
          <button id="list-url" type="button" class="btn waves-effect grey">
            <i class="mdi-action-list"></i>
          </button>
        </div>
      </div>
      <div class="pure-u-1-3 pure-u-md-1-24">
      </div>
    </div>

    <div id="indices" class="pure-u-1">
      <div class="pure-u">
        <table class="pure-table pure-table-horizontal">
          <thead>
            <tr>
              <th>URL</th>
              <th>Count</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>

    <div id="results" class="pure-u-1">
      <div class="pure-u-1-4"></div>
      <div class="pure-u-1-2">
        <table class="pure-table pure-table-horizontal">
          <thead>
            <tr>
              <th>Name</th>
              <th>Last modified</th>
              <th>Size</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        <a id="load-more">
          <button class="btn waves-effect">Load More</button>
        </a>
      </div>
      <div class="pure-u-1-4"></div>
    </div>

    <div id="footer" class="pure-u-1">
      <p>
        <b>I Love Indexes</b> let you easily search files within "Index of" web sites.
      </p>
      <a href="/about" title="About">About this project</a>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  {{javascript_tag "jquery-scrollto"}}
  {{javascript_tag "moment.min"}}
  {{javascript_tag "materialize"}}
  {{javascript_tag "app"}}
</body>
</html>
