body
  background-color: #eee

#header
  h1, p
    font-family: 'Roboto Slab', serif
  background: #eee
  padding: 1em 0
  #inputs
    border-bottom: 1px solid #eee
    text-align: center
    button
      i
        font-size: 2em

#results, #indices
  display: none
  margin: 0 auto

#btn-row
  display: inline-flex
  justify-content: flex-end
  align-items: baseline
  button
    margin-left: 10px
  span
    flex: 1
    text-align: left

// Override font stack set by pure
html, button, input, select, textarea, .pure-g [class *= "pure-u"]
  font-family: 'Roboto Slab', serif
