body
  background-color: #eee

#header
  h1, p
    font-family: 'Roboto Slab', serif
  background: #eee
  padding: 1em 0
  #inputs
    border-bottom: 1px solid #eee
    text-align: center

#results, #indices
  display: none
  margin: 0 auto

#add-url
  .form-group
    width: 100%
    display: flex
    button
      margin-left: 10px
      i
        font-size: 42px
    input
      height: 50%
      flex: auto

  span.error
    color: red
    text-align: left
    height: 0

// Override font stack set by pure
html, button, input, select, textarea, .pure-g [class *= "pure-u"]
  font-family: 'Roboto Slab', serif
